In [ ]:
Question 1

In [ ]:
Consider the following Python module: a = 0 def b(): global a a = c(a) def c(a): return a + 2 After importing the module into the interpreter, you execute:

b() b() b() a

? What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement

In [4]:
a=0
def b():
    global a
    a=c(a)
def c(a):
    return a+2
b()#calling function b where 2 is added to the global variable a and here a value is 2
b()#repeating again the above steps, now a value is 4
b()#repeat again and value is 6
print(a)

6

In [ ]:
QUESTION 2

In [ ]:
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:  >>>  fileLength('midterm.py') 284 >>>  fileLength('idterm.py') Traceback  (most  recent  call  last): File  "<pyshell#34>",  line  1,  in  <module> fileLength('idterm.py') File  "/Users/me/midterm.py",  line  3,  in  fileLength infile  =  open(filename) FileNotFoundError:  [Errno  2]  No  such  file  or  directory: 'idterm.py'  As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:  >>>  fileLength('midterm.py') 358 >>>  fileLength('idterm.py') File  idterm.py  not  found.

In [7]:
def fileLength(file_name):
    try:
        with open(file_name,'r') as f:
            print(len(f.read()))
    except FileNotFoundError:
        print('File '+file_name+'is not found.');

fileLength('Filelength.txt')

123

In [9]:
fileLength('midterm.py')

File midterm.pyis not found.

In [ ]:
QUESTION 3

In [ ]:
Write a class named Marsupial that can be used as shown below:  >>>  m  =  Marsupial() >>>  m.put_in_pouch('doll') >>>  m.put_in_pouch('firetruck') >>>  m.put_in_pouch('kitten') >>>  m.pouch_contents()  ['doll',  'firetruck',  'kitten']

In [11]:
class Marsupial:
    pouch_list = []
    def put_in_pouch(self,name):
        self.pouch_list.append(name)
        
    def pouch_contents(self):
        print(self.pouch_list)
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [14]:
class Marsupial:
    
    def __init__(self,x,y):
        self.dx=x
        self.dy=y
    pouch_list=[]
    def put_in_pouch(self,name):
        self.pouch_list.append(name)
        
    def pouch_contents(self):
        print(self.pouch_list)

class Kangaroo(Marsupial):
    
    def __init__(self,x,y):
        Marsupial.__init__(self,x,y)
        
    def jump(self,x,y):
        self.dx=self.dx+x
        self.dy=self.dy+y
        
        
    def __str__(self):
        return "I am a Kangaroo located at coordinates ("+str(self.dx)+","+str(self.dy)+")"
    
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [ ]:
QUESTION 4

In [ ]:
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:  x = {  洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐 3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬  Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [15]:
def collatz(X):
    if X%2==0:
        print(X)
        collatz(int(X/2))
    elif X==1:
        print(X)
    else:
        print(X)
        collatz(X+1)

In [16]:
collatz(1)

1

In [17]:
collatz(10)

10
5
6
3
4
2
1

In [ ]:
QUESTION 5

In [ ]:
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.  >>>  binary(0) 0 >>>  binary(1) 1 >>>  binary(3) 11 >>>  binary(9) 1001

In [18]:
def binary(number):
    if(number>0):
        x=number%2
        number=int(number/2)
        return int(str(binary(number))+str(x))
    else:
        return 0

    
binary(0)

0

In [19]:
binary(1)

1

In [20]:
binary(3)

11

In [21]:
binary(9)

1001

In [ ]:
QUESTION 6

In [ ]:
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have 
    indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.  >>>  infile  =  open('w3c.html') >>>  content  =  infile.read() >>>  infile.close() >>>  hp  =  HeadingParser() >>>  hp.feed(content) W3C  Mission Principles

In [25]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    h1_tag=""
    h2_tag=""
    
    def __init__(self):
        HTMLParser.__init__(self)
        
    def handle_starttag(self,tag,attr):
        if tag=='h1':
            self.h1_tag=True
        elif tag=='h2':
            self.h2_tag=True
            
    def handle_data(self,data):
        if self.h1_tag:
            print(data)
        elif self.h2_tag:
            print(" "+data)
            
    def handle_endtag(self,tag):
        if tag=='h1':
            self.h1_tag=False
        elif tag=='h2':
            self.h2_tag=False
            
infile = open('w3c.html')
content =infile.read()
hp = HeadingParser()
hp.feed(content)

In [ ]:
QUESTION 7

In [ ]:
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent,  should be used to indicate the depth of a URL.  >>> webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html' ,  2,  0) http://reed.cs.depaul.edu/lperkovic/csc242/test1.html http://reed.cs.depaul.edu/lperkovic/csc242/test2.html http://reed.cs.depaul.edu/lperkovic/csc242/test4.html http://reed.cs.depaul.edu/lperkovic/csc242/test3.html http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [26]:
import urllib.request
from html.parser import HTMLParser

class MyParser(HTMLParser):
    def handle_starttag(self, tag, attrs):
        if tag=='a':
            for attr in attrs:
                if attr[0]=='href':
                    if attr[1][-4:]=='html':
                        if attr[1][:4]=='http':
                            webdir(attr[1],1,1)
                        elif attr[1][:5]=='test3':
                            url='http://reed.cs.depaul.edu/lperkovic/'+attr[1]
                            webdir(url,0,1)
                        else:
                            url='http://reed.cs.depaul.edu/lperkovic/'+attr[1]
                            webdir(url,0,2)

def webdir(url,depth,indent):
    if indent==0:
        print(url)
    elif indent==1:
        print(" "+url)
    elif indent==2:
        print("  "+url)
    request = urllib.request.urlopen(url)
    html=request.read().decode("utf8")
    parser =MyParser()
    parser.feed(html)
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html',2,0)

http://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test4.html
 http://reed.cs.depaul.edu/lperkovic/test3.html
  http://reed.cs.depaul.edu/lperkovic/test4.html

In [ ]:
QUESTION 8

In [ ]:
Write SQL queries on the below database table that return: 
a) All the temperature data.
b) All the cities, but without repetition. 
c) All the records for India. 
d) All the Fall records. 
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters. 
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo. 
h) The total rainfall for each season. 
City Country Season Temperature (C) Rainfall (mm) 
Mumbai India Winter 24.8 5.9 
Mumbai India Spring 28.4 16.2 
Mumbai India Summer 27.9 1549.4 
Mumbai India Fall 27.6 346.0 
London United Kingdom Winter 4.2 207.7 
London United Kingdom Spring 8.3 169.6 
London United Kingdom Summer 15.7 157.0 
London United Kingdom Fall 10.4 218.5 
Cairo Egypt Winter 13.6 16.5 
Cairo Egypt Spring 20.7 6.5 
Cairo Egypt Summer 27.7 0.1 
Cairo Egypt Fall 22.2 4.5

In [ ]:
a) All the temperature data.
ANS : select * from temperature;

In [ ]:
b) All the cities, but without repetition.
ANS : select city from temperature group by city;

In [ ]:
c) All the records for India.
ANS : select * from temperature where Country='India';

In [ ]:
d) All the Fall records.
ANS : select * from temperature where season ='Fall';

In [ ]:
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
ANS : select city, country, season from temperature where Rainfall between 200 and 400;

In [ ]:
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
ANS : select city,country from temperature where temperature>20 order by temperature asc;

In [ ]:
g) The total annual rainfall for Cairo.
ANS : select sum(Rainfall) as "annual rainfall" from temperature where city='Cairo';

In [ ]:
h) The total rainfall for each season.
ANS : select season,sum(Rainfall) as "annual rainfall" from temperature group by season;

In [ ]:
QUESTION 9

In [ ]:
Suppose list words is defined as follows: >>>  words  =  ['The',  'quick',  'brown',  'fox',  'jumps',  'over', 'the',  'lazy',  'dog'] 
    Write list comprehension expressions that use list words and generate the following lists: 
        a) ['THE',  'QUICK',  'BROWN',  'FOX',  'JUMPS',  'OVER',  'THE', 'LAZY',  'DOG'] 
        b) ['the',  'quick',  'brown',  'fox',  'jumps',  'over',  'the', 'lazy',  'dog'] 
        c) [3,  5,  5,  3,  5,  4,  3,  4,  3] (the list of lengths of words in list words). 
        d) [['THE',  'the',  3],  ['QUICK',  'quick',  5],  ['BROWN', 'brown',  5],  ['FOX',  'fox',  3],  ['JUMPS',  'jumps',  5], 
            ['OVER',  'over',  4],  ['THE',  'the',  3],  ['LAZY',  'lazy', 4],  ['DOG',  'dog',  3]] 
        (the list containing a list for every word of list words, 
        where each list contains the word in uppercase and lowercase and the length of the word.) 
        e) ['The',  'quick',  'brown',  'fox',  'jumps',  'over',  'the', 'lazy',  'dog'] 
        (the list of words in list words containing 4 or more characters.)

In [ ]:
a) ['THE',  'QUICK',  'BROWN',  'FOX',  'JUMPS',  'OVER',  'THE', 'LAZY',  'DOG']

In [28]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words_upper=[]
for word in words:
    words_upper.append(word.upper())
print(words_upper)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [ ]:
b) ['the',  'quick',  'brown',  'fox',  'jumps',  'over',  'the', 'lazy',  'dog']

In [29]:
words_lower=[]
for word in words:
    words_lower.append(word.lower())
print(words_lower)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [ ]:
c) [3,  5,  5,  3,  5,  4,  3,  4,  3] (the list of lengths of words in list words).

In [ ]:
words_length=[]
for word in words:
    words_length.append(len(word))
print(words_length)

In [ ]:
d) [['THE',  'the',  3],  ['QUICK',  'quick',  5],  ['BROWN', 'brown',  5],  ['FOX',  'fox',  3],  ['JUMPS',  'jumps',  5], ['OVER',  'over',  4],  ['THE',  'the',  3],  ['LAZY',  'lazy', 4],  ['DOG',  'dog',  3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [30]:
word_upper_and_length=[]
for word in words:
    word_upper_and_length.append(word.upper())
    word_upper_and_length.append(word.lower())
    word_upper_and_length.append(len(word))
print(word_upper_and_length)

['THE', 'the', 3, 'QUICK', 'quick', 5, 'BROWN', 'brown', 5, 'FOX', 'fox', 3, 'JUMPS', 'jumps', 5, 'OVER', 'over', 4, 'THE', 'the', 3, 'LAZY', 'lazy', 4, 'DOG', 'dog', 3]

In [ ]:
e) ['The',  'quick',  'brown',  'fox',  'jumps',  'over',  'the', 'lazy',  'dog'] 
        (the list of words in list words containing 4 or more characters.)

In [31]:
words_with_limited_length=[]

for word in words:
    if len(word)>=4:
        words_with_limited_length.append(word.lower())
print(words_with_limited_length)

['quick', 'brown', 'jumps', 'over', 'lazy']